<div
  fxFlex="100"
  fxLayout="row wrap"
  fxLayoutAlign="start center"
  fxLayoutGap="10px"
>
  <mat-form-field appearance="outline">
    <mat-label>{{ field.fieldTitle | htmlDecoder }}</mat-label>
    <mat-select [(value)]="field.fieldValue" (selectionChange)="onChange()">
      <mat-option [value]="allOption.value" *ngIf="allOption">
        {{ allOption.title | htmlDecoder }}
      </mat-option>
      <mat-option [value]="option.value" *ngFor="let option of field.options">
        {{ option.title | htmlDecoder }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
