<o-content-widget [title]="title" [subTitles]="subTitles">
  <ng-container>
    <div
      fxFlex="100"
      fxLayout.gt-xs="row wrap"
      fxLayout.xs="column"
      fxLayoutGap="20px"
      fxLayoutAlign="start center"
    >
      <div>{{ "Categories" | asyncTranslate | async }}</div>
      <div class="o-list-field-wrapper">
        <mat-selection-list
          role="listbox"
          dense
          class="glass"
          #list
          [multiple]="false"
        >
          <mat-list-option
            role="option"
            *ngFor="let courseCategoryInfo of courseCategories; let i = index"
            [value]="courseCategoryInfo"
            (click)="onSelectionChange(i)"
          >
            {{courseCategoryInfo.categoryName}}
            ({{courseCategoryInfo.categoryCode}})
          </mat-list-option>
        </mat-selection-list>
      </div>
      <div fxLayout="column" fxLayoutGap="5px">
        <button mat-raised-button class="btn-sm" (click)="addOption()">
          <mat-icon>add</mat-icon>
          {{ "Add"| asyncTranslate | async }}
        </button>
        <button
          mat-raised-button
          class="btn-sm"
          (click)="editOption(list.selectedOptions.selected)"
        >
          <mat-icon>edit</mat-icon>
          {{ "Edit"| asyncTranslate | async }}
        </button>
        <button
          mat-raised-button
          class="btn-sm"
          (click)="removeOption(list.selectedOptions.selected)"
        >
          <mat-icon>remove</mat-icon>
          {{ "Remove"| asyncTranslate | async }}
        </button>
      </div>
    </div>
    <o-action-bar
      (save)="saveCourseCategory()"
      (back)="back()"
      [type]="'add'"
      [fullWidth]="true"
    ></o-action-bar>
  </ng-container>
</o-content-widget>
<ng-template #addEditCategoryTemplate>
  <div [formGroup]="addEditCategoryFormGroup" fxLayout="column">
    <mat-form-field appearance="outline">
      <mat-label> {{"Category Name" | asyncTranslate | async}} </mat-label>
      <input
        matInput
        formControlName="categoryName"
        [maxLength]="maxLength(maxLengthName)"
      />
      <mat-error *ngIf="isInvalid('categoryName')">
        {{getErrorMessage('categoryName')}}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label> {{"Category Code" | asyncTranslate | async }} </mat-label>
      <input
        matInput
        formControlName="categoryCode"
        [maxLength]="maxLength(maxLengthCode)"
      />
      <mat-error *ngIf="isInvalid('categoryCode')">
        {{getErrorMessage('categoryCode')}}
      </mat-error>
    </mat-form-field>
  </div>
</ng-template>
