mat-selection-list .mat-pseudo-checkbox {
  display: none !important;
}
.mat-list-base[dense] .mat-list-option {
  height: 24px !important;
}

mat-selection-list {
  height: 200px;
  min-width: 200px;
  overflow: auto;
  border-radius: 6px;
  margin-top: 4px;
}
mat-list-option[aria-selected="true"] {
  background: rgba(200, 200, 200, 0.7);
}
.add-edit-response .mat-form-field {
  width: 100%;
}
