mat-card-content {
  margin-top: 20px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
}

mat-card-content mat-form-field {
  transition: margin 350ms;
}

mat-card-content mat-form-field.ng-touched.ng-invalid,
mat-card-content mat-form-field.mat-form-field-invalid {
  margin-bottom: 8px !important;
}

mat-card-actions {
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  text-align: right;
}
