.pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 5px 10px;
    text-decoration: none;
    position: relative;
  }
  
  .pagination a:hover:not(.active) {
    background-color: #FFF;
    color: black;
    border-radius: 5px;
    box-shadow: 0px 2px 5px -1px rgb(0 0 0 / 20%), 0px 1px 1px 1px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%) 
  }
  
  .pagination a.active {
    background-color: #ddd;
    border-radius: 5px;
    box-shadow: 0px 2px 5px -1px rgb(0 0 0 / 20%), 0px 1px 1px 1px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%)
  }