<o-content-widget [title]="title" [subTitles]="subTitles">
  <form>
    <div fxFlex="100" fxLayout="column">
      <o-form-fields
        [fields]="departmentFields$"
        [formGroup]="formGroup"
        [requiredFields]="requiredFields"
      ></o-form-fields>
      <o-action-bar
        (save)="saveDepartment()"
        (delete)="deleteDepartment()"
        (back)="backToDirectory()"
        [type]="levelId > 0 ? 'edit' : 'add'"
      ></o-action-bar>
    </div>
  </form>
</o-content-widget>
