.page-header {
  text-align: center;
  color: #868686;
  padding-top: 24px;
}
.page-body {
  overflow: auto;
  max-height: calc(100vh - 400px);
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 8px 16px;
  text-align: justify;
}

.page-footer {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 16px;
  align-items: center;
  justify-content: center;
}
