<form class="brown-text" [formGroup]="forgotPasswordForm" (submit)="forgotPassword()">
  <mat-card-header>
    <mat-card-title> Request to Reset Password </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput placeholder="" id="username" formControlName="username" />
      <mat-hint class="required" align="end">(Optional)</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="" formControlName="email" />
      <mat-error *ngIf="isInvalid('email')"> Please enter email. </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Role</mat-label>
      <mat-select formControlName="roleId" disableOptionCentering>
        <mat-option *ngFor="let role of roles" [value]="role.roleId">{{role.roleName}}</mat-option>
      </mat-select>
      <mat-error *ngIf="isInvalid('roleId')"> Please select role. </mat-error>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button>Submit</button>
    <br />
    <a href="/auth/login">Back to login page</a>
  </mat-card-actions>
</form>