<div
  class="request-password-page"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="16px"
>
  <form [formGroup]="formGroup" *ngIf="!successMessage">
    <div fxLayout="column" fxLayoutGap="16px" class="cart-login-wrapper">
      <label>
        <h1 style="text-align: center">{{"Request Password" | translate}}</h1>
      </label>
      <div fxLayout="column" fxLayoutGap="4px" *ngIf="!userChooseFieldInfo">
        <label class="required"><b>{{"Email" | translate}}</b></label>
        <div class="o-form-field">
          <mat-form-field>
            <input
              type="text"
              matInput
              maxlength="250"
              [placeholder]="'Email' | translate"
              autocomplete="off"
              formControlName="email"
            />
          </mat-form-field>
          <mat-error
            *ngIf="isInvalid('email')"
            [innerHTML]="getErrorMessage('email')"
          >
          </mat-error>
        </div>
      </div>
      <div fxLayout="column" fxLayoutGap="8px" *ngIf="userChooseFieldInfo">
        <label class="required"
          ><b>{{userChooseFieldInfo.fieldTitle}}</b></label
        >
        <div class="o-form-field">
          <mat-radio-group
            [formControlName]="userChooseFieldInfo.fieldName"
            aria-label="Select an option"
            fxLayout="column"
            fxLayoutGap="8px"
          >
            <mat-radio-button
              [value]="option.value"
              *ngFor="let option of userChooseFieldInfo.options"
            >
              {{ option.title }}
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <mat-error
          *ngIf="isInvalid(userChooseFieldInfo.fieldName)"
          [innerHTML]="getErrorMessage(userChooseFieldInfo.fieldName)"
        >
        </mat-error>
      </div>
      <div
        fxLayoutAlign="center center"
        *ngIf="errorMessage"
        [innerHTML]="errorMessage"
        class="error"
      ></div>
      <div fxLayoutAlign="center center">
        <button
          mat-stroked-button
          class="fill"
          type="button"
          (click)="requestPassword()"
        >
          {{"Submit" | translate}}
        </button>
      </div>
    </div>
  </form>
  <div
    fxLayoutAlign="center center"
    *ngIf="successMessage"
    [innerHTML]="successMessage"
  ></div>
  <div fxLayoutAlign="center center">
    <a (click)="backToRgistrationPage()">
      {{"Back to Registration Page" | translate}}?
    </a>
  </div>
</div>
