::ng-deep .tox .tox-tbtn--bespoke .tox-tbtn__select-label {
  width: auto !important;
  max-width: 7em !important;
}
::ng-deep .tox-statusbar__branding {
  display: none !important;
}
::ng-deep .tox-tinymce {
  border-radius: 4px !important;
}
